.dialogue__box{
    /* width: 1200px; */
    width: 100%;
    height: 100vh;
    /* margin-left: auto; */
    display: flex;
    flex-direction: column;
    background: url(../../img/chat/dialog/dialogbg.png);
    background-size: contain;
    background-position: center;
   
}

.dialogue__header{
    // width: 1200px;
     padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-dark);

}

.dialoginput{
    margin: 12px;
    display: flex;
    align-items: flex-end;
    gap: 12px;  
}

.dialoginput__container{
    width: 100%;
    display: flex;

    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--cream);
}

.dialoginput__textarea{
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    border-radius: 20px;
    margin-right: 12px;
    font-size: 14px;
padding: 8px;
width: 624px;
height: 35px;
min-height: 35px;
            max-height: 300px;
            overflow-y: auto;
background: var(--modal);
}

.dialoginput__btns{
    
    display: flex;
    align-items: center;
    gap: 20px;
}

.dialoginput__btn{
    width: 70px;
height: 60px;
display: flex;
justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--cream);
}


.dialogwind{
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}